.event{
  background-color: rgb(90, 203, 255);
}
.slider-container {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 500px;
  white-space: wrap;
  overflow-x: auto;
  background-color: rgb(90, 203, 255);
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  height: 500px;
  scroll-snap-type: x mandatory;
  /* display: inline-block; */
}

.card-event {
  width: 300px;
  padding: 20px;
  margin: 0 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  border-radius: 8px;
  height: fit-content;
  flex-shrink: 0;
  scroll-snap-align: start;
  /* vertical-align: top; */
}

.card-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
  transition: 3s;
}
.card-event:hover .card-image img{
  transform: scale(1.1);
}
h2 {
  margin: 10px 0;
}

p {
  margin: 0;
  font-size: 1rem;
}
.slider-container::-webkit-scrollbar {
  height: 0px;
}

.slider-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  height: 0px;
  border-radius: 5px; 
}
