.visi-wrapper {
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 30px 0px 15px; */
    gap: 30px;
}
.visi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;
}
.img-visi{
  max-width: 600px;
  width: 600px;
}
@media (max-width: 600px) {
  .img-visi {
    display: none;
  }
  .visi {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 15px;
    padding: 50px 5px 50px 20px;
    /* height: 300px; */
  }
  .visi h1 {
    text-align: center;
  }
}
